# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: liquibase migrations

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  liquibase_migration:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2



    - name: Run Liquibase Migration
      uses: liquibase-github-actions/update@v4.27.0
      with:
        changelogFile: glebza/tradeapp/db/changelog-root.yaml
        defaultSchemaName: trader
        username: $LIQUIBASE_USERNAME
        password: $LIQUIBASE_PASSWOR
        url: jdbc:postgresql://$LIQUIBASE_DB_PROD:5432/$LIQUIBASE_USERNAME
        
     # run: |
      #  cd ./$MIGRATIONS_PATH
       # liquibase  --password=$LIQUIBASE_PASSWORD --username=$LIQUIBASE_USERNAME --url=jdbc:postgresql://$LIQUIBASE_DB_PROD:5432/$LIQUIBASE_USERNAME update
      env:
        LIQUIBASE_USERNAME: ${{ secrets.LIQUIBASE_USERNAME }}
        LIQUIBASE_PASSWORD: ${{ secrets.LIQUIBASE_PASSWORD }}
        LIQUIBASE_DB_PROD: ${{secrets.HOST_IP }}
